body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0044cc;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.navbar{
    background-color: #0044cc;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li{
    margin:0 45px ;
}

#login{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4CAF50; /* Green background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#login:hover {
    background-color: #45a049; /* Darker green on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

main {
    padding: 2rem;
}

#main{
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 20px;
}

.text{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}

/* #main:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}
 */
.welcome {
    text-align: center;
    margin-bottom: 2rem;
}
.features, .contact {
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #0044cc;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #0044cc;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}